<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='dist/chartist.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='dist/bootstrap.css') }}">
    <title>Limon</title>
</head>
<body>
  <script src="{{ url_for('static',filename='dist/chartist.js') }}"></script>
  <script src="{{ url_for('static',filename='dist/bootstrap.js') }}"></script>

  <div class="container">

    <h1 class="center-block mt-4">Dashboard</h1>

    <div class="ct-chart" id="chart1"></div>

    <script type="text/javascript">
        new Chartist.Pie('#chart1', {
          series: [{{cpunow}}, {{ramnow}}]
        }, {
          width: '200px',
          height: '200px',
          donut: true,
          donutWidth: 40,
          startAngle: 270,
          total: 200,
          showLabel: false
        });
    </script>

    <div class='table'>
      <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>pid</th>
                <th>memory percent</th>
                <th># threads</th>
            <tr>
        </thead>
        <tbody>
            {% for process in data %}
            <tr>
                <td><b>{{ process.name }}</b></td>
                <td>{{ process.pid }}</td>
                <td>{{ process.memory_percent}}%</td>
                <td>{{ process.num_threads }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
