<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/chartist.min.css">
    <title>Limon</title>
</head>
<body>
  <script src="dist/chartist.min.js"></script>
  {{
  import yaml, json, io

  with open("sys_poll.yml", 'r') as stream:
      try:
          yml_loaded = yaml.safe_load(stream)
          json_loaded = json.load(stream)
      except yaml.YAMLError as exc:
          print(exc)
  }}
  <h1>Index</h1>
</body>
</html>
